main {
    max-width: 800px;
    margin: 0 auto;

}

nav {
    background-color: #333;
    padding: 15px 20px;
}

nav a {
    color: teal;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f5f5f5;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
}