* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: darkolivegreen;
    padding: 0.5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid #ccc;
    padding: 10px;
    float: right;
    margin: 0 0 1rem 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    margin: 1rem;
    padding: 0;
    text-align: justify;
}

h2 {
    color: olive;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

nav {
    background-color: #d0d2c6;
    padding: 15px 20px;
}

nav a {
    color: rgb(5, 60, 60);
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

li {
    display: list-item;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.photo-frame {
    position: relative;
    display: inline-block;
    max-width: 400px;

}

.photo-frame img {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.photo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: olive;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

aside:not(.photo-frame) img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .photo-text {
        font-size: 24px;
    }

    .photo-frame {
        max-width: 300px;
    }

    main img {
        width: 120px;
    }
}