* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: rgb(0, 53, 139);
    --white: white;
    --border-color: rgb(0 0 0 / 0.2);
    --padding-small: 10px;
    --padding-large: 20px;
    --img-border-color: black;
    --img-shadow: gray;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: steelblue;
    padding: var(--padding-small);
}

nav a {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;

}

aside {
    margin: 20rem;
    text-align: center;
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    margin-top: 30px;
    margin-bottom: 0rem;
    position: absolute;
    top: 15px;
    text-align: justify;
    left: 25%;
}

aside img {
    width: 100%;
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    margin-bottom: 1rem;
    color: #2a4d69;
    border-bottom: 2px solid #2a4d69;
    padding-bottom: 0.5rem;
}

main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    width: 200px;
    box-shadow: 0 0 30px var(--img-shadow);
}

/* selectors  */
.box {
    margin: 1rem 0;
    border: 1px solid #999;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #333
}

ul.box {
    list-style-type: none;
}

ul.box li {
    margin-bottom: 0.5rem;
}

ul.box a {
    color: #2a4d69;
}