* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: rgb(0, 53, 139);
    --white: white;
    --border-color: rgb(0 0 0 / 0.2);
    --padding-small: 10px;
    --padding-large: 20px;
    --img-border-color: black;
    --img-shadow: gray;
}

header {
    margin: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a4d69;
    padding: var(--padding-small);
}

nav a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    padding: var(--padding-large);
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 1.5rem;
    max-width: 840px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    margin-bottom: 1rem;
    color: #2a4d69;
}

main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    width: 200px;
    box-shadow: 0 0 30px var(--img-shadow);
}

/* Cajas reutilizables */
.box {
    margin: 1rem 0;
    border: 1px solid #999;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #333
}

ul.box {
    list-style-type: none;
}

ul.box li {
    margin-bottom: 0.5rem;
}

ul.box a {
    color: #2a4d69;
}

aside {
    margin: 2rem 0;
    text-align: center;
    position: relative;
    width: 20rem;
}

h2 {
    margin-top: 30px;
    color: rgb rgb(60, 97, 170);
}

aside h3 {
    margin-bottom: 0rem;
    position: absolute;
    top: 15px;
    text-align: justify;
    left: 125;
}

aside img {
    width: 100%;
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    margin: 2rem 0 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
}