* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;

}

nav {
    background-color: #d0d2c6;
    padding: 15px 20px;
}

nav a {
    color: rgb(5, 60, 60);
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

h1 {
    color: olive;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

main img {
    width: 200px;
    height: auto;
    border: 3px solid #ccc;
    padding: 10px;
    float: right;
    margin: 0 0 1rem 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background-color: #6b9be3;
    color: #333;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #000;
}

main img {
    width: 150px;
    height: auto;

}

p {
    margin: 1rem;
    padding: 0;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0, .2);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

.indent {
    padding-left: 2rem;
}