* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;

}

nav {
    background-color: #d0d2c6;
    padding: 15px 20px;
}

nav a {
    color: rgb(5, 60, 60);
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

h1 {
    color: olive;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

main img {
    width: 200px;
    height: auto;
    border: 3px solid #ccc;
    padding: 10px;
    float: right;
    margin: 0 0 1rem 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;

}

p {
    margin: 1rem;
    padding: 0;
    text-align: justify;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
    line-height: 1.3;

}

aside h2 {
    position: absolute;
    top: 5%;
    left: 25%;
    color: #000;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.indent {
    padding-left: 2rem;
}